*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  background: #fff;
}

#app {
  height: 100%;
}
